<div class="inner container">
  <h3 class="masthead-brand"><a href="/">Pill Box</a></h3>
  <nav>
    <ul class="nav masthead-nav">
      <li class=><a href="/medications">Medications</a></li>
      <li><a href="/schedule">Schedule</a></li>
      <li><a href="#" id="logout">Log Out</a></li>
    </ul>
  </nav>
</div>

