<footer class="footer">
	<div class="container">
		<span class=" text-left pull-left text-muted">Created by Deborah Kain of dk Solutions.</span>
		<div class="text-right pull-right">
	      <a href="https://twitter.com"><i id="social-tw" target="_blank" class="fa fa-twitter-square fa-2x social"></i></a>
	      <a href="https://github.com/deborahak/pill_box" target="_blank"><i id="social-gp" class="fa fa-github-square fa-2x social"></i></a>
	      <a href="mailto:deborahkain@mac.com?subject=Email%20PillBox"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
	    </div>
	</div>
</footer>