<div class="inner container">
	<h3 class="masthead-brand"><a href="/"><span class="pinky">P</span><span class="goldy">i</span><span class="lav1">l</span><span class="lav2">l</span> Box</a></h3>
  <nav>
    <ul class="nav masthead-nav">
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Log In</a></li>
      <li><a href="/sample">Sample User</a></li>
    </ul>
  </nav>
</div>

