<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Edit Medication</title>
        <%- include('partials/header') %>
    </head>
    
    <body>
        <div class="">
        <%- include('partials/authenticated_navbar') %>

            <ul id="medications" class="list-group">

            </ul>

            <a href="/add_meds" class="btn btn-primary">Add Medication</a>
        
        </div>

        <%- include('partials/scripts') %>

        <script src="js/medications.js"></script>

      <%- include('partials/footer') %>

    </body>

</html>

