<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
          <%- include('partials/navbar') %>

          <div class="cover container">
            <h1 class="cover-heading">
              <span class="pinky">P</span><span class="goldy">i</span><span class="lav1">l</span><span class="lav2">l</span>
               Box
              </h1>
            <p class="lead">Manage your meds,<br>live your life.</p>
            <p class="lead">
              <a href="/learnmore" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>

    <%- include('partials/scripts') %>
 
</body>

</html>
