<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Home</title>
      <%- include('partials/header') %>
  </head>

  <body>
        <%- include('partials/navbar') %>

            <div class="cover container">
              <div class="lead">
                <h1 class="cover-heading">
                  <span class="pinky">P</span><span class="goldy">i</span><span class="lav1">l</span><span class="lav2">l</span>
                   Box
                </h1>
                Manage your meds,<br>live your life.
                <p class="lead">
                <a href="/learnmore" class="btn btn-lg btn-default">Learn more</a>
              </p>
              </div>
            </div>

      <%- include('partials/scripts') %>
      <%- include('partials/footer') %>

  </body>

</html>
