 <!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Learn More</title>
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/style.css">
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
      <%- include('partials/navbar') %>

    <div class="cover container">
      <h1 class="cover-heading">
        <span class="pinky">P</span><span class="goldy">i</span><span class="lav1">l</span><span class="lav2">l</span>
              Box
      </h1>

      <div id="accordion">

        <div class="card">

          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              How do I use this Pill Box?
              </button>
            </h5>
          </div>
   
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent "#accordion" aria-expanded="false" style="height: 0px;">
            <div class="card-body">
              This is meant to be a way to easily track multiple medications throughout your day.  Create an account with a user name and password, and immediately add a medication to activate your planner.  You can add, change, or delete medications as necessary, but you need to have one medication in your account to make it work.  Then you can follow your schedule.  You won't miss a dose or take one too soon.  
            </div>
          </div>

        </div>
       
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Hints to make this more useful.
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion" aria-expanded="false" style="height: 0px;">
            <div class="card-body">
             Many medications look similar, so make the description something unique.  If the pill has a number or name on it, note it, because you want to be able to identify it if it is loose in your pill container, or if you want to confirm that everything is in your hand before you take them.  This will also help when you get refills, since it should look the same.  You also have a reminder if you have to keep the medication in the fridge.  
             Do your math!  If your medication is every four to six hours, then figure out the timing and schedule it in.  If you wish, you can update the schedule with the time you did manage to take it.  The schedule can change with you!
            </div>
          </div>
        </div>
       
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Why did you make this app?
              </button>
            </h5>
          </div>

          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion" aria-expanded="false" style="height: 0px;">
            <div class="card-body">
             I was inspired to make this app after I had surgery.  I was on a medication schedule that had me taking some things every four hours, some every six, and some at bed time or when I got up.  To top it off, many of the pills made me groggy or spacey!  I ended up with sticky notes all over my house reminding me of when I took something, and when I need to take the next dose.  My bathroom mirror looked like an art project!  I needed to have a fairly simple way to schedule everything so I could follow along, even when I didn't feel so hot.  After taking care of a family member with a long term illness, the need for some way to keep everything together became even more important. 
            </div>
          </div>
        </div>

  <!--     <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Who created this?
            </button>
          </h5>
        </div>
   
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" aria-expanded="false" style="height: 0px;">
          <div class="card-body">
            My name is Deborah and I am a student learning how to create apps like this.  This project was my capstone project when I learned Node.js.
          </div>
        </div>
      </div> -->

      </div>
    </div>

      <%- include('partials/scripts') %>
   
      <%- include('partials/footer') %>

  </body>

</html>
 