<!DOCTYPE html>
<html>

	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Log Out</title>
	 	<%- include('partials/header') %>
	</head>

	<body>

	 <%- include('partials/authenticated_navbar') %>
		<div>
			<p>You have logged out of Pill Box. 
			<br>
			See you later!</p>
		</div>
	 <%- include('partials/scripts') %>

	</body>

</html>