<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <%- include('partials/navbar') %>

<form class="form-inline" id='login'>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" >
  </div>
  <button type="submit" id="submitLogin" class="btn btn-default">Login</button>

</form>

  
 <%- include('partials/scripts') %>

</body>

</html>
