<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <%- include('partials/navbar') %>
	<form >

		<div class="form-group" >
		<label for="name">Create Username</label>
		<input type="name" class="form-control" id="username">
		</div>

		<div class="form-group">
		<label for="password">Create Password</label>
		<input type="" class="form-control" id="password">
		</div>

		<button type="submit" class="btn btn-default" id="signUp">Create User</button>
	</form>	

	<%- include('partials/scripts') %>
	<script src="js/signup.js"></script>

</body>
</html>






