<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
  <%- include('partials/navbar') %>

		<div class="container-fluid">
    		<div class="row justify-content-center">
       		 <div class="middle col-xs-8  col-sm-5 col-lg-4">
            	<div class="form-login">
                	<h4>Create An Account</h4>
                	<label for="name">Create Username</label><input type="text" id="username" class="form-control input-sm chat-input" placeholder="username">
                	<br>
                	<label for="password">Create Password</label><input type="password" id="password" class="form-control input-sm chat-input" placeholder="password">
                	<br>
                	<div class="wrapper">
                    	<button type="submit" class="btn btn-default btn-md" id="signUp">Create User</button>
                	</div>
            	</div>
        	  </div>
    		</div>
		</div>
	<!-- Original idea
		<label for="name">Create Username</label>
		<input type="name" class="form-control" id="username">
		</div>

		<div class="form-group">
		<label for="password">Create Password</label>
		<input type="" class="form-control" id="password">
		</div>

		<button type="submit" class="btn btn-default" id="signUp">Create User</button> -->

	<%- include('partials/scripts') %>
	<script src="js/signup.js"></script>

</body>
</html>






