
/*.form-login {
    background-color: #EDEDED;
    padding: 10px 20px;
    border-radius: 10px;
    border: 5px solid #fff;
    box-shadow: 10px 13px 45px #909564;
    margin-top: 150px;
    opacity: 1;
    vertical-align: middle;
}

.row.justify-content-center {
    justify-content: center !important;
}

.middle.col-xs-8.col-sm-5.col-lg-4 {
    margin: 0 auto;
    float: inherit;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}*/