/*
 * Base structure
 */

html,
body {
  background-color: #d2d994;
  color: #3379b7;
  text-align: center;
  background-image: url("../assets/pillbox_bkgrnd.png");
  height: 100%;
  background-position: center;
  /*background-repeat: no-repeat;
    background-size: cover;*/
  background-size: 133%;
}

a:{
  color: #337ab7;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #3e647a;
  text-decoration: none;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

h5.creds {
    margin-top: 3rem;
    font-weight: 800;
}

h5.mb-0 {
    text-align: left;
    margin-bottom: 0!important;
}

h6.error {
    text-align: left;
    color: #ee78b7;
    margin-bottom: 5px;
}

.has-error .form-control {
    border-color: #ee8db7;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.list-group {
    padding-left: 0;
    margin: 20px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 75%;
    margin: 0 auto;

}
 
/* Custom default button */
.btn-default {
    color: #1e4669;
    text-shadow: none;
    border: 1px solid #ffac45;
    background: #ffaf4b;
    background: -moz-linear-gradient(45deg, #ffaf4b 0%, #ff920a 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #ffaf4b), color-stop(100%, #ff920a));
    background: -webkit-linear-gradient(45deg, #ffaf4b 0%, #ff920a 100%);
    background: -o-linear-gradient(45deg, #ffaf4b 0%, #ff920a 100%);
    background: -ms-linear-gradient(45deg, #ffaf4b 0%, #ff920a 100%);
    background: linear-gradient(45deg, #ffaf4b 0%, #ff920a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
}

.btn-default:hover, .btn-default:focus {
    background: linear-gradient(45deg, #ffaf4b 0%, #d27807 100%);
    color: white;
    transition-duration: .5s;
}

.btn-link {
    font-weight: 800;
    color: #3378b7;
    border-radius: 0;
    font-size: 20px;
}

button.btn.btn-link.collapsed {
    font-size: 1.25em;
}

.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
    border-color: transparent;
}
 
.btn-link:focus, .btn-link:hover {
    color: #e987bd;
    text-decoration: none;
    background-color: transparent;
    outline: 0px auto -webkit-focus-ring-color;
}

button#delete-med:focus, button#delete-med:hover {
    background: linear-gradient(45deg, #f297ef 0%, #ff4ff9 100%);
    color: white;
    transition-duration: .5s;
}

#delete-med {
    color: #363533;
    text-shadow: none;
    background: #ff45f9;
    background: -moz-linear-gradient(45deg, #ffaf4b 0%, #ff920a 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #ffaf4b), color-stop(100%, #ff920a));
    background: -webkit-linear-gradient(45deg, #ff45f9 0%, #c636c1 100%);
    background: -o-linear-gradient(45deg, #ffaf4b 0%, #ff920a 100%);
    background: -ms-linear-gradient(45deg, #ffaf4b 0%, #ff920a 100%);
    background: linear-gradient(45deg, #f297ef 0%, #ff4ff9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
}

button#save-med:focus, button#save-med:hover {
    background: linear-gradient(45deg, #3378b7 0%, #255a8a 100%);
    color: white;
    transition-duration: .5s;
}

#save-med {
  color: #ffffff;
  text-shadow: none;
  border: 1px solid #3378b7;
  background: #3378b7;
  background: -moz-linear-gradient(45deg, #ffaf4b 0%, #ff920a 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #ffaf4b), color-stop(100%, #ff920a));
  background: -webkit-linear-gradient(45deg, #3378b7 0%, #255a8a 100%);
  background: -o-linear-gradient(45deg, #ffaf4b 0%, #ff920a 100%);
  background: -ms-linear-gradient(45deg, #ffaf4b 0%, #ff920a 100%);
  background: linear-gradient(45deg, #3378b7 0%, #055195 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
}

/*FORMS*/

form {
  text-align: center;
  padding-top: 30px;
  padding-left: 30%;
  padding-right: 30%;
}

.form-login {
    background-color: #EDEDED;
    padding: 10px 20px;
    border-radius: 10px;
    border: 5px solid #fff;
    box-shadow: 10px 13px 45px #909564;
    margin-top: 20%;
    opacity: 1;
    vertical-align: middle;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}

form.form-horizontal {
    text-align: center;
    padding-top: 0px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}
 
.form-group label.add {
    text-align: left !important;
}

form.add_med {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    margin: 85px auto;
    width: 55%;
    padding: 20px;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 18px 25px;
}
 
.modal-body {
    position: relative;
    padding: 25px;
}
 
.modal-footer {
    padding: 0px;
    text-align: center;
}
 
.middle.col-xs-10.col-sm-5.col-lg-4 {
    margin: 0 auto;
    float: inherit;
}

.middle.col-xs-8.col-sm-5.col-lg-4 {
    margin: 0 auto;
    float: inherit;
}

.row.justify-content-center {
    justify-content: center !important;
}

 /* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,.5);
          box-shadow: inset 0 0 0px rgba(0,0,0,.5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.wrapper {
    text-align: center;
}

 /* Padding for spacing */
.inner {
  padding: 30px;
}

.inner.container {
    width: 100%;
    background: #fffffb78;
    background: -moz-linear-gradient(45deg, #ffffff 0%, #f6f6f6 47%, #c6c7cc 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #c6c7cc));
    background: -webkit-linear-gradient(45deg, #ffffff 0%, #f6f6f6 47%, #c6c7cc 100%);
    background: -o-linear-gradient(45deg, #ffffff 0%, #f6f6f6 47%, #c6c7cc 100%);
    background: -ms-linear-gradient(45deg, #ffffff 0%, #f6f6f6 47%, #c6c7cc 100%);
    background: linear-gradient(45deg, #ffffff59 0%, #f6f6f687 47%, #c6c7cc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c6c7cc', GradientType=1 );
    height: 63px;
    padding: 0 65px;
    margin-bottom: 5rem;
}

.lead {
    font-size: 40px;
    color: #8d98a5;
    margin: 5px;
    font-weight: 300;
    text-align: center;
    padding: 0px 30px;
}


span.pinky {
    color: #e988bc;
}
 
span.goldy {
    color: #caa30a;
}
 
span.lav1 {
    color: #3379b7;
}
 
span.lav2 {
    color: #33b7a1;
}

span.leftHand {
    font-weight: 600;
    color: #ee79b7;
}

 /*
  * Header
  */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1.cover-heading {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  color: #8d98a5;
  margin: 0 5px;
}

h3.masthead-brand {
    margin-bottom: 17px;
}

.masthead-nav > li {
  display: inline-block;
  padding: 10px 5px;}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #195b9f; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  /*border-bottom-color: #a9a9a9;*/
  border-bottom-color: rgb(209, 101, 157);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.nav>li {
    position: relative;
    /*display: block;*/
}
.nav>li>a {
    position: relative;
    display: block;
   /* padding: 20px 15px;*/
}

/*
 * Cover
 */
.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 75vh;
}

.cover-top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    height: 100vh;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

#accordion {
    width: inherit;
    flex: 1 1 auto;
    padding: 2.75rem;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
 
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2.5rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.5;
    color: #8c98a4;
    text-align: left;
    text-align: left;
    font-size: 2rem;
}

.collapse.in {
    display: block;
}
/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

footer.footer {
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 41px;
    background-color: #e2e7bd;
    opacity: .85;
    position: fixed;
}

footer.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

i#social-em:hover {
    color: #f39c12;
}

i#social-gp:hover {
    color: #d669a1;
}

i#social-tw:hover {
    color: #1161ab;
}

.fa-2x {
  font-size: 2em;
  line-height: 1.5 !important;
}

.footer a {
    padding: .25em;
}


/*Schedule*/

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    margin: 30px 20px;
 }

.agenda {  
    background-color: #ffffffd6;
    margin: 4rem;
}

/* Dates */
.agenda .agenda-date { 
  width: 170px;
   }
.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px; 
}
.agenda .agenda-date .shortdate {
  font-size: 0.75em; 
}
/* Times */
.agenda .agenda-time { 
  /*color: #de352a;*/
  font-weight: 800;
  background-color: #bbdad1;
  width: 60px;
}

 
/* Events */
.agenda .agenda-events { 
  color: rgb(103, 139,176);
 } 

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table-responsive {
   /* width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #d2d994;*/
    min-height: .01%;
    overflow-x: auto;
}
.table-bordered {
    border: 1px solid #ddd;
}

td.agenda-events {
    font-weight: 800;
    text-align: center;
}
 
th {
    background-color: #f7de04;
  }

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 5px 20px;
}
/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

